<div class="row">
    <div class="col-md-3">
        <p class="lead">Shop Name</p>
        <div class="list-group">
            <a href="#" class="list-group-item">Category 1</a>
            <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row" id="root">
            
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/serverMediator.js"></script>
<script src="~/lib/reactjs/react.js"></script>
<script src="~/lib/reactjs/react-dom.js"></script>
<script src="~/js/itemsView.js"></script>