<div class="row" id="root">
            
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/reactjs/react.js"></script>
<script src="~/lib/reactjs/react-dom.js"></script>
<script src="~/lib/reactjs/react-router.js"></script>

<script src="~/js/repositories/ServerMediator.js"></script>
<script src="~/js/repositories/AccountRepository.js"></script>
<script src="~/js/repositories/ClientRepository.js"></script>
<script src="~/js/repositories/ItemRepository.js"></script>
<script src="~/js/repositories/ItemStatusRepository.js"></script>
<script src="~/js/repositories/OperationRepository.js"></script>
<script src="~/js/repositories/ProviderRepository.js"></script>
<script src="~/js/repositories/WarehouseItemRepository.js"></script>

<link href="~/js/components/react-input-range/react-input-range.min.css" rel="stylesheet" />
<script src="~/js/components/react-input-range/react-input-range.min.js"></script>

<script src="~/js/repositories/ServerMediator.js"></script>
<script src="~/js/repositories/ItemRepository.js"></script>
<script src="~/js/repositories/WarehouseItemRepository.js"></script>

<script src="~/js/components/loginview/loginView.js"></script>

<script src="~/js/components/itemsview/body/elements/about.js"></script>
<script src="~/js/components/itemsview/body/elements/rating.js"></script>
<script src="~/js/components/itemsview/body/items.js"></script>
<script src="~/js/components/itemsview/filterform/filterform.js"></script>
<script src="~/js/components/itemsview/itemsView.js"></script>

<script src="~/js/components/main/main.js"></script>