<div class="row" id="root">
            
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/reactjs/react.js"></script>
<script src="~/lib/reactjs/react-dom.js"></script>
<script src="~/lib/reactjs/react-router.js"></script>

<link href="~/js/components/react-input-range/react-input-range.min.css" rel="stylesheet" />
<link href="~/css/operationView.css" rel="stylesheet" />

<script src="~/js/public/main.js"></script>