
<link href="~/css/operationView.css" rel="stylesheet" />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />

<div class="row" id="root">
</div>


<script src="~/lib/reactjs/react.js"></script>
<script src="~/lib/reactjs/react-dom.js"></script>
<script src="~/js/serverMediator.js"></script>
<script src="~/js/newOperationView.js"></script>
